<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html"; charset=UTF-8>
        <title>Title</title>
    </head>
    
    <body>
        <p>Read Users</p>
        {% if user_list %}
        <ol>
            {% for s in user_list %}
            <li>
                <a href="#none">{{s.u_name}}</a></br>
                <a href="#none">{{s.u_division}}</a></br>
                <a href="#none">수정</a>
                <a href="#none">삭제</a></br>
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>User : 0</p>
        {% endif %}
        
        </br>

        <a href="#none">신규사용자 등록</a>

    </body>
</html>