<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html"; charset=UTF-8>
        <title>Title</title>
    </head>
    
    <body>
        <p>Read Headphones</p>
        {% if headphone_list %}
        <ol>
            {% for s in headphone_list %}
            <li>
                <a href="{% url 'headphones:headDet' s.h_name %}">{{s.h_name}}</a></br>
                <a href="#none">{{s.h_serial}}</a></br>

            </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>Headphone : 0</p>
        {% endif %}
        
        </br>

        <a href="{% url 'headphones:reg' %}">신규헤드폰 등록</a>

    </body>
</html>