<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 기록 조회</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <style type="text/css">
        header {
            text-align: center;
            padding: 5px 0px;
        }
        nav {
            text-align: right;
            padding: 5px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <p>접속자 : <span>관리자</span> <a href="#">로그아웃</a></p>
        </nav>
        <header>
            <h1>헤드폰 전체 이력 조회</h1>
        </header>

        <!-- 헤드폰 전체 히스토리 조회 시작 -->
        <section>
			
            <table class="table">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>모델명</th>
                        <th>일련번호</th>
                        <th>지급일</th>
                        <th>내용</th>
                        <th>반납일</th>
                        <th>내용</th>
						<th>인수자</th>
						<th>확인자</th>
						<th>상태</th>
                    </tr>
                </thead>
                <tbody>                 
                    {% for all in headphone_history %}
                        {% if all.hh_serial == ALL %}
                            <tr class="active">
                                <td>{{ all.pk }}</td>
                                <td>{{ all.hh_model}}</td>
                                <td>{{ all.hh_serial}}</td>
                                <td>{{ all.hh_pDate}}</td>
                                <td>{{ all.hh_pDetail}}</td>
                                <td>{{ all.hh_rDate}}</td>
                                <td>{{ all.hh_rDetail}}</td>
                                <td>{{ all.hh_receiver}}</td>
                                <td>{{ all.hh_checker}}</td>
                                <td>{{ all.hh_state}}</td>
                            </tr>                 
                        {% else %}
                            {% for one in headphone_historyone %}
                                <tr class="active">
                                    <td>{{ one.pk }}</td>
                                    <td>{{ one.hh_model}}</td>
                                    <td>{{ one.hh_serial}}</td>
                                    <td>{{ one.hh_pDate}}</td>
                                    <td>{{ one.hh_pDetail}}</td>
                                    <td>{{ one.hh_rDate}}</td>
                                    <td>{{ one.hh_rDetail}}</td>
                                    <td>{{ one.hh_receiver}}</td>
                                    <td>{{ one.hh_checker}}</td>
                                    <td>{{ one.hh_state}}</td>
                                </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <!-- 헤드폰 전체 히스토리 조회 끝 -->
    </div>
</body>
</html>